* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #d9b6b6;
}
header {
    z-index: 9999;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(42, 48, 39);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0 0 20px 0 rgba(42, 48, 39, .8);
    min-width: 437px;
}
header h1 {
    font-size: 80px;
    font-weight: 600;
    color: transparent;
   -webkit-text-stroke: 2px #d9b6b6;
    margin-left: 5px;


}

.navigation ul  {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 40px 15px;
    color: #d9b6b6;

}
.navigation a {
    color: #d9b6b6;
    margin: 10px;
    font-size: 30px;
    font-display: center;
    text-decoration: none;
    
}
.navigation ul li a:hover {
    font-weight: 50;
   text-decoration: underline #d9b6b6;
    
    
}
/*.hero {
    background-color:rgb(217, 182, 182);
    width: 100%;
    height: 500px;
} */
 .hero h1 {
        font-size: 80px;
        font-weight: 600;
        color: transparent;
       -webkit-text-stroke: 2px rgb(42, 48, 39);
        margin-left: 5px;
    
 }

 .info {
    height: 1000px; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 300px; 
     
    
 }
 .info h1 {
    text-align: center;
    position: relative;
    font-size: 80px;
    font-weight: 600;
    color: transparent;
   -webkit-text-stroke: 2px rgb(42, 48, 39);
    margin-left: 5px;
    
    
        
 }
 .bio-box{ 
    background-color: #2a3027;
     width: 60%;
     height: 300px;
     margin-left: 20%;
     border-radius: 200px;
     min-width: 295px;
     margin-bottom: 200px;
 }
 .bio-box img {
    height: 300px;
    width: 300px;
    border: 5px solid #2a3027;
    border-radius: 50%;
    
 }
    
 .contact-info h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    color: transparent;
   -webkit-text-stroke: 2px rgb(42, 48, 39);
    margin-left: 5px;
    border-bottom: #2a3027 solid 2px;
}
 .portfolio-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
 }
    
 .portfolio-blocks div {
    margin-top: 100px;
    height: 300px;
    background-color: #2a3027;
    border-radius: 50%;
    min-width: 300px;
    
    
}
.portfolio-blocks a {
    text-decoration: none;
}

.portfolio-blocks div:hover {
   background-color: transparent;
    border: 3px  solid #2a3027;
}

 .top-left {
    text-align: center; 
    font-size: 40px;
    line-height: 1.0;
     color:#d9b6b6;
     margin-top: 100px;
 }

 .top-left:hover {
    color:#2a3027;
 }



.contact-info {
    padding-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
}

footer {
   padding-top: 100px;
    background-color: rgb(42, 48, 39);
    height: 100px;
    min-width: 437px;
}

@media screen and (max-width: 694px) {


}

 @media screen and (max-width: 640px) {

    .navigation a {
        font-size: 20px;
    }
 }



 

