* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #d9b6b6;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(42, 48, 39);
    height: 100px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0 0 20px 0 rgba(42, 48, 39, .8);
}
header h1 {
    font-size: 80px;
    font-weight: 600;
    color: transparent;
   -webkit-text-stroke: 2px #d9b6b6;
    margin-left: 5px;

}

.navigation ul  {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 40px 15px;
    color: #d9b6b6;

}
.navigation a {
    color: #d9b6b6;
    margin: 10px;
    font-size: 30px;
    font-display: center;
    text-decoration: none;
    
}
.navigation ul li a:hover {
    font-weight: 50;
   text-decoration: underline #d9b6b6;
    
    
}
.hero {
    background-color:rgb(217, 182, 182);
    width: 100%;
    height: 500px;
}
 .hero h1 {
        font-size: 80px;
        font-weight: 600;
        color: transparent;
       -webkit-text-stroke: 2px rgb(42, 48, 39);
        margin-left: 5px;
    
 }

 .info {
     background-color: #d9b6b6;
     width: 100%;
     display: flex;
     flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: transparent;
    
    
 }
 .work {
    padding-top: 200px;
    width: 100%;
    height: 900px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: transparent;
    
 }
 .work h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    color: transparent;
   -webkit-text-stroke: 2px rgb(42, 48, 39);
    margin-left: 5px;
    border-bottom: #2a3027 solid 2px;

 }
 .info h1 {       
        text-align: center;
        font-size: 80px;
        font-weight: 600;
        color: transparent;
       -webkit-text-stroke: 2px rgb(42, 48, 39);
        border-bottom: #2a3027 solid 2px;
        
 }
 .contact-info h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    color: transparent;
   -webkit-text-stroke: 2px rgb(42, 48, 39);
    margin-left: 5px;
    border-bottom: #2a3027 solid 2px;
}
 .portfolio-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }
    
 .portfolio-blocks div {
    margin-left: 100px;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
    height: 300px;
    width:300px;
    background-color: #2a3027;
    
}
.portfolio-blocks a {
    text-decoration: none;
}

.portfolio-blocks div:hover {
    box-shadow: 0 0 20px 0 rgba(42, 48, 39, .8);
}

 .top-left {
     font-size: 40px;
     color:#d9b6b6;
     margin: 30px auto auto 30px;
 }

 .bottom-right {

    font-size: 40px;
    color: #d9b6b6;
    margin: 150px auto auto 150px;
 }

 .top-left:hover {
     text-decoration: line-through #2a3027;
 }
 .bottom-right:hover {
    text-decoration: line-through #2a3027;

}
.contact-info {
    padding-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
}

footer {
   padding-top: 100px;
    background-color: rgb(42, 48, 39);
    height: 100px;
}


 @media screen and (max-width: 723px) {

    .navigation a {
        font-size: 25px;
    }
 }



 

