* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: bebas neue, minion didot, cochin, lao mn, optima;
    background-color: #d9b6b6;
    min-width: fit-content;

}
header {
    z-index: 9999;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(42, 48, 39);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0 0 20px 0 rgba(42, 48, 39, .8);
    width: 100%;

}
header h1 {
    font-size: 80px;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 2px #d9b6b6;
    width: 100%;
    text-align: center;


}
nav {
    width: 100%;
}

.navigation ul  {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: #d9b6b6;
    flex-direction: row;

}
.navigation a {
    color: #d9b6b6;
    font-size: 30px;
    font-display: center;
    text-decoration: none;
    
}
.navigation ul li a:hover {
    font-weight: 50;
   text-decoration: underline #d9b6b6;
    
    
}
.hero {
    background-color: rgb(217, 182, 182);
    height: fit-content;

    
} 
 .hero h1 {
    display: flex;
    font-size: 80px;
    color: transparent;
    -webkit-text-stroke: 2px rgb(42, 48, 39);
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    
 }
 .hero img {
    margin-top: 9px;
    margin-left: 15px;        
    height: inherit;
 }

 .info {
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 20%;
    
    
     
    
 }
 .header-mod {
    display: flex;
    font-size: 50px;
    color: transparent;
    -webkit-text-stroke: 2px rgb(42, 48, 39);
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-decoration: underline 4px solid #2a3027;
    scroll-margin-top: 3em;
    padding-bottom: 5%;
}
 .bio-box{ 
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}
 .bio-box img {
    height: 200px;
    width: 200px;
    border: 5px solid #2a3027;
    margin-bottom: 10%;
    border-radius: 50%;
}

.bio-box p {
    color: #2a3027;
    font-size: 15px;
    line-height: 25pt;
    text-align: center;
    margin: auto 5% auto 5%;
}
 .portfolio-blocks {
   display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: row;
    
 }
    
 .portfolio-blocks div {
    height: 200px;
    width: 200px;
    background-color: #2a3027;
    border-radius: 50%;
    
    
    
}
.portfolio-blocks a {
    text-decoration: none;
}

.portfolio-blocks div:hover {
   background-color: transparent;
    border: 3px  solid #2a3027;
    background-color: #d9b6b6;
}

 .top-left {
    text-align: center;
    font-size: 20px;
    line-height: 1.0;
    color: #d9b6b6;
    margin-top: 40%;
    margin-bottom: 40%;
    margin-left: 5%;
    margin-right:5%;
 }

 .port-box {
    margin: 20px 20px;
 }

 .port-box:hover {
     height: 250px;
     width: 250px;
     margin: none;
     background-color: #d9b6b6;
 }

 .top-left:hover {
    color:#2a3027;
    background-color: #d9b6b6;
 }



.contact-info {
   
    display: flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
}

footer {
   
    background-color: rgb(42, 48, 39);
    height: 100px;
    min-width: 437px;
}
/* @media screen and (max-width: 980px) {
.bio-box {

}
}
@media screen and (max-width: 694px) {

.info h1 {
    
}

}

 @media screen and (max-width: 640px) {

    .navigation a {
        
    }
 }
 @media screen and (max-width: 600px) {
     .portfolio-blocks {
         
        }
        .bio-box {
            
        }
        .info {
            
        }
       
       
     }
 
*/


 

